body {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.link {
  fill: none;
  stroke: rgb(250, 100, 100);
  stroke-width: 2px;
}

#licensing {
  fill: green;
}

.link.licensing {
  stroke: green;
}

.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: rgb(210, 230, 230);
  stroke: rgb(180, 200, 200);
  stroke-width: 1.5px;
}

marker {
  stroke: rgb(250, 100, 100);
  fill: rgb(250, 100, 100);
}

text {
  font: 20px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

svg {
  border: 5px solid rgb(200, 200, 200);
}

#input {
  margin: 10px;
}

input {
  margin-left: 10px;
}

#submit {
  margin-left: 10px;
}